<html>
  <head>
    <title>WebCampBackendNew</title>
    <link rel ="stylesheet" href="/app/assets/stylesheets/application.css">
  </head>

  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="show-text">
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p class="show-text">
      <strong>Body:</strong>
      <%= @book.body %>
    </p>
    <div>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", books_path(@books) %>
    </div>
  </body>
</html>